<launch>
	<arg name="marker_size" default="4.5" /> <!-- previous: 6.5-->
	<arg name="max_new_marker_error" default="0.08" />
	<arg name="max_track_error" default="0.2" />


	<arg name="cam_image_topic" default="/camera/image_raw" />
	<arg name="cam_info_topic" default="/camera/camera_info" />		
	<arg name="output_frame" default="/head_camera" />

	<node name="ar_track_alvar" pkg="ar_track_alvar" type="individualMarkersNoKinect" respawn="true" output="screen" args="$(arg marker_size) $(arg max_new_marker_error) $(arg max_track_error) $(arg cam_image_topic) $(arg cam_info_topic) $(arg output_frame)" />

	<node pkg="tf" type="static_transform_publisher" name="world_camera_tf" args="0 0 -1.58 0 0 0 1 /world /head_camera 30"/>

</launch>