<launch>


	<arg name="r_0" default="false" /> 
	<arg name="r_1" default="false" /> 
	<arg name="r_2" default="false" /> 
	<arg name="r_3" default="false" /> 
	<arg name="r_4" default="false" /> 
	<arg name="r_5" default="false" />
	<arg name="r_6" default="false" />
	<arg name="r_7" default="false" />
	<arg name="r_8" default="false" />
	<arg name="r_9" default="false" />
	<arg name="r_10" default="false" />
	<arg name="r_11" default="false" />


	<arg name="robot_address0" value="10:00:E8:6C:EC:71"/>	<!--1555--> <!-- 0 -->
	<arg name="robot_address1" value="10:00:E8:6C:D7:BD"/>	<!--1554--> <!-- 1 -->
	<arg name="robot_address2" value="10:00:E8:6C:D7:C8"/>	<!--1593--> <!-- 2 -->
	<arg name="robot_address3" value="10:00:E8:52:A9:69"/>	<!--1107--> <!-- 3 -->
	<arg name="robot_address4" value="10:00:E8:6C:D8:5F"/>	<!--1543--> <!-- 4 -->
	<arg name="robot_address5" value="10:00:E8:6C:D8:20"/>	<!--1573--> <!-- 5 -->
	<arg name="robot_address6" value="10:00:E8:6C:EC:A7"/>	<!--1553--> <!-- 6 -->
	<arg name="robot_address7" value="10:00:E8:6C:D7:E6"/>	<!--1589--> <!-- 7 -->
	
	<param name="robot_description" textfile="$(find epuck_driver)/urdf/epuck_urdf.xml"/>


	<group ns="robot_real_0" if="$(arg r_0)" >
		<include file="$(find epuck_driver)/launch/epuck_controller.launch">
			<arg name="epuck_address" value="$(arg robot_address0)"/>
			<arg name="epuck_name" value="robot_real_0"/>
			<arg name="cam_en" value="false"/>
    		<arg name="acc_en" value="false"/>
    		<arg name="prox_en" value="true"/>
			<arg name="mot_pos_en" value="true"/>
			<arg name="light_en" value="false"/>
			<arg name="floor_en" value="false"/>
			<arg name="sel_en" value="false"/>
			<arg name="mot_speed_en" value="false"/>
			<arg name="mic_en" value="false"/>
			<arg name="xpos" value="0.0"/>
			<arg name="ypos" value="0.0"/>
			<arg name="theta" value="0.0"/>
			<arg name="is_single_robot" value="0"/>
		</include>
	</group>

	<group ns="robot_real_1" if="$(arg r_1)" >
		<include file="$(find epuck_driver)/launch/epuck_controller.launch">
			<arg name="epuck_address" value="$(arg robot_address1)"/>
			<arg name="epuck_name" value="robot_real_1"/>
			<arg name="cam_en" value="false"/>
    		<arg name="acc_en" value="false"/>
    		<arg name="prox_en" value="true"/>
			<arg name="mot_pos_en" value="true"/>
			<arg name="light_en" value="false"/>
			<arg name="floor_en" value="false"/>
			<arg name="sel_en" value="false"/>
			<arg name="mot_speed_en" value="false"/>
			<arg name="mic_en" value="false"/>
			<arg name="xpos" value="0.0"/>
			<arg name="ypos" value="0.0"/>
			<arg name="theta" value="0.0"/>
			<arg name="is_single_robot" value="0"/>
		</include>
	</group>



	<group ns="robot_real_2" if="$(arg r_2)" >
		<include file="$(find epuck_driver)/launch/epuck_controller.launch">
			<arg name="epuck_address" value="$(arg robot_address2)"/>
			<arg name="epuck_name" value="robot_real_2"/>
			<arg name="cam_en" value="false"/>
    		<arg name="acc_en" value="false"/>
    		<arg name="prox_en" value="true"/>
			<arg name="mot_pos_en" value="true"/>
			<arg name="light_en" value="false"/>
			<arg name="floor_en" value="false"/>
			<arg name="sel_en" value="false"/>
			<arg name="mot_speed_en" value="false"/>
			<arg name="mic_en" value="false"/>
			<arg name="xpos" value="0.0"/>
			<arg name="ypos" value="0.0"/>
			<arg name="theta" value="0.0"/>
			<arg name="is_single_robot" value="0"/>
		</include>
	</group>

	<group ns="robot_real_3" if="$(arg r_3)" >
		<include file="$(find epuck_driver)/launch/epuck_controller.launch">
			<arg name="epuck_address" value="$(arg robot_address3)"/>
			<arg name="epuck_name" value="robot_real_3"/>
			<arg name="cam_en" value="false"/>
    		<arg name="acc_en" value="false"/>
    		<arg name="prox_en" value="true"/>
			<arg name="mot_pos_en" value="true"/>
			<arg name="light_en" value="false"/>
			<arg name="floor_en" value="false"/>
			<arg name="sel_en" value="false"/>
			<arg name="mot_speed_en" value="false"/>
			<arg name="mic_en" value="false"/>
			<arg name="xpos" value="0.0"/>
			<arg name="ypos" value="0.0"/>
			<arg name="theta" value="0.0"/>
			<arg name="is_single_robot" value="0"/>
		</include>
	</group>

	<group ns="robot_real_4" if="$(arg r_4)" >
		<include file="$(find epuck_driver)/launch/epuck_controller.launch">
			<arg name="epuck_address" value="$(arg robot_address4)"/>
			<arg name="epuck_name" value="robot_real_4"/>
			<arg name="cam_en" value="false"/>
    		<arg name="acc_en" value="false"/>
    		<arg name="prox_en" value="true"/>
			<arg name="mot_pos_en" value="true"/>
			<arg name="light_en" value="false"/>
			<arg name="floor_en" value="false"/>
			<arg name="sel_en" value="false"/>
			<arg name="mot_speed_en" value="false"/>
			<arg name="mic_en" value="false"/>
			<arg name="xpos" value="0.0"/>
			<arg name="ypos" value="0.0"/>
			<arg name="theta" value="0.0"/>
			<arg name="is_single_robot" value="0"/>
		</include>
	</group>

	<group ns="robot_real_5" if="$(arg r_5)">
		<include file="$(find epuck_driver)/launch/epuck_controller.launch">
			<arg name="epuck_address" value="$(arg robot_address5)"/>
			<arg name="epuck_name" value="robot_real_5"/>
			<arg name="cam_en" value="false"/>
    		<arg name="acc_en" value="false"/>
    		<arg name="prox_en" value="true"/>
			<arg name="mot_pos_en" value="true"/>
			<arg name="light_en" value="false"/>
			<arg name="floor_en" value="false"/>
			<arg name="sel_en" value="false"/>
			<arg name="mot_speed_en" value="false"/>
			<arg name="mic_en" value="false"/>
			<arg name="xpos" value="0.0"/>
			<arg name="ypos" value="0.0"/>
			<arg name="theta" value="0.0"/>
			<arg name="is_single_robot" value="0"/>
		</include>
	</group> 


	<group ns="robot_real_6" if="$(arg r_6)">
		<include file="$(find epuck_driver)/launch/epuck_controller.launch">
			<arg name="epuck_address" value="$(arg robot_address6)"/>
			<arg name="epuck_name" value="robot_real_6"/>
			<arg name="cam_en" value="false"/>
    		<arg name="acc_en" value="false"/>
    		<arg name="prox_en" value="true"/>
			<arg name="mot_pos_en" value="true"/>
			<arg name="light_en" value="false"/>
			<arg name="floor_en" value="false"/>
			<arg name="sel_en" value="false"/>
			<arg name="mot_speed_en" value="false"/>
			<arg name="mic_en" value="false"/>
			<arg name="xpos" value="0.0"/>
			<arg name="ypos" value="0.0"/>
			<arg name="theta" value="0.0"/>
			<arg name="is_single_robot" value="0"/>
		</include>
	</group> 

	<group ns="robot_real_7"  if="$(arg r_7)">
		<include file="$(find epuck_driver)/launch/epuck_controller.launch">
			<arg name="epuck_address" value="$(arg robot_address7)"/>
			<arg name="epuck_name" value="robot_real_7"/>
			<arg name="cam_en" value="false"/>
    		<arg name="acc_en" value="false"/>
    		<arg name="prox_en" value="true"/>
			<arg name="mot_pos_en" value="true"/>
			<arg name="light_en" value="false"/>
			<arg name="floor_en" value="false"/>
			<arg name="sel_en" value="false"/> 
			<arg name="mot_speed_en" value="false"/>
			<arg name="mic_en" value="false"/>
			<arg name="xpos" value="0.0"/>
			<arg name="ypos" value="0.0"/>
			<arg name="theta" value="0.0"/>
			<arg name="is_single_robot" value="0"/>
		</include>
	</group>
	<!--node pkg="rviz" type="rviz" output="screen" name="rviz" args="-d $(find epuck_driver)/config/multi_epuck_driver_rviz.rviz"/-->

</launch>